:root {
  --gunmetal: #1d2d2dff;
  --indigo-dye: #19415aff;
  --dim-gray: #746b69ff;
  --cadet-gray: #85919cff;
  --caribbean-current: #3e666aff;
  --jasmine: #f5db6dff;
  --platinum: #d1dcdeff;
  --platinum-2: #e2e2e4ff;
  --white: #fefefeff;
}
