:root {
  --gunmetal: #1d2d2dff;
  --indigo-dye: #19415aff;
  --dim-gray: #746b69ff;
  --cadet-gray: #85919cff;
  --caribbean-current: #3e666aff;
  --jasmine: #f5db6dff;
  --platinum: #d1dcdeff;
  --platinum-2: #e2e2e4ff;
  --white: #fefefeff;
}

:root {
  --mainFont: 'Roboto', sans-serif;
  --headerFont: 'League Spartan', sans-serif;
  --contentFont: 'Open Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero {
   height: 70%;
   width: auto;
}

body {
  background-color: var(--platinum-2);
  color: var(--gunmetal);
}

main {
  width: 90%;
  margin: 0 auto;
}

p {
  font-family: var(--contentFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headerFont);
  color: var(--indigo-dye);
}


/* NAVIGATION */

/* NEW NAV BAR STARTS */
.topnav {
  background-color: var(--platinum-2);
  overflow: hidden;
  font-family: var(--headerFont);
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--headerFont);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: var(--caribbean-current);
}

/* Add a color to the active/current link */
.topnav .logo {
  font-weight: 600;
  font-size: 2rem;
  margin-right: auto;
}

.topnav .nav-item {
  font-weight: 500;
  margin-right: -4px;
}

/* NEW NAV BAR ENDS */

/*
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--platinum-2);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/*  font-family: var(--headerFont);
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  color: var(--indigo-dye);
}

nav a {
  text-decoration: none;
  color: var(--indigo-dye);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
}

nav a:hover {
  color: var(--caribbean-current);
}

nav a:active {
  color: var(--cadet-gray);
}

.nav-items-right {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 2rem;
  color: var(--indigo-dye);
  margin-top: 5px;
}

.material-symbols-outlined:hover {
  color: var(--caribbean-current);
}

.material-symbols-outlined:active {
  color: var(--cadet-gray);
}

.navbar-toggler {
  display: none;
}
*/

/* BODY */

.hero-container {
  display: flex;
  height: 900px;
}

.hero-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* adding margin */
}

.hero-container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* adding margin */
}

.hero-container-content {
  text-align: left;
}


#lunchPlace {
  margin: 0;
  font-size: 4rem;
  color: var(--indigo-dye);
  padding-bottom: 10px;
}

#slogan {
  padding-bottom: 5px;
  color: var(--gunmetal);
}

.lunch-container {
  display: flex;
  height: 80vh;
}

.lunch-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lunch-container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#food {
  height: 90%;
  width: auto;
}

.lunch-container-content {
  text-align: left;
}

.lunch-container-content h1 {
  margin: 0;
  font-size: 3rem;
}

.take-away {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.take-away h1 {
  font-size: 3rem;
}

.take-away p {
  margin: 0.3rem;
  width: 80%;
}

.take-away button {
  margin: 1rem;
}

/* FOOTER */

.footer-container {
  display: flex;
  height: 50vh;
}

.footer-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container-content {
  text-align: left;
}

.contact-info {
  margin: 2px;
}

/* BUTTONS */

.arrow-button {
  display: flex;
  color: #19415aff;
  background-color: #e2e2e4ff;
  padding: 10px 16px;
  transition: all 0.3s ease;
  align-items: center;
  font-size: 14px;
  font-family: var(--contentFont);
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #19415aff;
  border-bottom: 2px solid #19415aff;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: var(--platinum);
  color: var(--indigo-dye);
}

.basic-button {
  display: flex;
  color: var(--platinum-2);
  background-color: var(--indigo-dye);
  padding: 10px 16px;
  transition: all 0.3s ease;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.basic-button:hover {
  background-color: var(--platinum);
  color: var(--indigo-dye);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-items-right {
    display: none;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-container-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* adding margin */
  }

  .hero-container-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* adding margin */
  }

  #hero {
    width: auto;
    height: 600px;
  }

  #food {
    width: auto;
    height: 600px;
  }
}
