:root {
  --gunmetal: rgb(25, 46, 46);
  --indigo-dye: #19415aff;
  --dim-gray: #746b69ff;
  --cadet-gray: #85919cff;
  --caribbean-current: #3e666aff;
  --jasmine: #f5db6dff;
  --platinum: #d1dcdeff;
  --platinum-2: #e2e2e4ff;
  --white: #fefefeff;
}

:root {
  --mainFont: "Roboto", sans-serif;
  --headerFont: "League Spartan", sans-serif;
  --contentFont: "Open Sans", sans-serif;
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: lighter;
  font-style: normal;
  font-size: 30px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero {
  height: 70%;
  width: auto;
}

main {
  width: 90%;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--platinum-2);
  color: var(--gunmetal);
}

p {
  font-family: var(--contentFont);
  font-size: 20px;
  color: var(--indigo-dye);
}

h1 {
  font-family: var(--headerFont);
  font-size: 3rem;
  font-weight: 600;
  color: var(--indigo-dye);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: var(--mainFont);
  font-size: 2rem;
  font-weight: 300;
  color: var(--gunmetal);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: var(--contentFont);
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--indigo-dye);
}


h4 {
  font-family: var(--mainFont);
  font-size: 1rem;
  font-weight: 300;
  color: var(--caribbean-current);
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* NAVIGATION */

nav {
  background-color: var(--platinum-2);
  overflow: hidden;
  width: 100%;
  font-family: var(--headerFont);
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: fixed;
  transition: transform 0.2s;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  font: var(--headerFont);
  color: var(--gunmetal);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
nav a:hover {
  color: var(--caribbean-current);
}

/* Add a color to the active/current link */
nav .logo {
  font-weight: 600;
  font-size: 2rem;
  margin-right: auto;
}

nav .nav-item {
  font-weight: 500;
  margin-right: -4px;
}

#login-icon {
  cursor: pointer;
}

.hamburger {
  height: 40px;
  position: relative;
  right: 50px;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--indigo-dye);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  font: var(--headerFont);
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: var(--platinum-2);
  padding-top: 120px;
  transition: 0.4s;
  z-index: 98;
}

.mobile-nav a {
  font: var(--headerFont);
  margin: 0 auto 16px;
  width: 100%;
  max-width: 200px;
  display: block;
  color: var(--gunmetal);
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
}

.mobile-nav.is-active {
  left: 0;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {

}

@media (min-width: 767px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

/* HERO ELEMENT */

.hero-container {
  display: flex;
  height: 900px;
}

.hero-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* adding margin */
}

.hero-container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* adding margin */
}

.hero-container-content {
  text-align: left;
}

#lunchPlace {
  margin: 0;
  font-size: 4rem;
  color: var(--indigo-dye);
  padding-bottom: 10px;
}

#slogan {
  color: var(--gunmetal);
  margin: 2rem 0 2rem 0;
}





/* DAILY LUNCH */
.lunch-container {
  display: flex;
  height: 100vh;
}

.lunch-container h2 {
  display: none;
}

.lunch-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lunch-container-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lunch-container-content {
  padding: 4rem;
  border: solid 3px var(--indigo-dye);
}

#divider {
  height: 2px;
  width: 50%;
  background: linear-gradient(
    90deg,
    var(--platinum-2),
    var(--indigo-dye),
    var(--platinum-2)
  );
}

.lunch-list-days {
  font-size: 2rem;
  margin: 3rem 0 1rem 0;
}

.lunch-items p {
  margin: 1rem 0 1rem 0;
}

#food {
  height: 80vh;
  width: auto;
}

.lunch-container-content {
  text-align: left;
}


.take-away {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.take-away-content {
  text-align: center;
}

.take-away h1 {
  font-size: 3rem;
}

.take-away p {
  margin: 0.3rem;
  width: 80%;
}

.take-away button {
  margin: 1rem;
}

/* WEEKLY LUNCH */

.weeklyLunch-container {
  display: flex;
  height: auto;
  margin-bottom: 50px;
}

.weeklyLunch-container h1 {
  margin-bottom: -80px;
}

.weeklyLunch-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.weeklyLunch-left img {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-right: 20px;
}

.weeklyLunch-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 100px;
  overflow: hidden;
}

.weeklyLunch-right h2{
  width: 50%;
  border-top: #19415aff 3px solid;
  padding-top: 80px;
}

/* FOOTER */

.footer-container {
  display: flex;
  height: 50vh;
}

.footer-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container-content {
  text-align: left;
}

.contact-info {
  margin: 0.4rem;
}

.contact-head {
  font-size: 3rem;
  margin: 0;
}

/* BUTTONS */

.arrow-button {
  display: flex;
  color: #19415aff;
  background-color: #e2e2e4ff;
  padding: 10px 16px;
  transition: all 0.3s ease;
  align-items: center;
  font-size: 14px;
  font-family: var(--contentFont);
  border: var(--indigo-dye) 3px solid;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #19415aff;
  border-bottom: 2px solid #19415aff;
  position: relative;
  transform: rotate(-45deg);
  margin: 0, 6px;
  transition: all 0.3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: var(--platinum);
  color: var(--indigo-dye);
}

.basic-button {
  display: flex;
  color: var(--platinum-2);
  background-color: var(--indigo-dye);
  padding: 10px 16px;
  transition: all 0.3s ease;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.basic-button:hover {
  background-color: var(--platinum);
  color: var(--indigo-dye);
}

iframe {
  width: 80%;
  height: 80%;
  border: none;
}
