*{
  margin: 0;
  padding: 0;
}

/* .container{
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
} */

:root {
  --gunmetal: rgb(25, 46, 46);
  --indigo-dye: #19415aff;
  --dim-gray: #746b69ff;
  --cadet-gray: #85919cff;
  --caribbean-current: #3e666aff;
  --jasmine: #f5db6dff;
  --platinum: #d1dcdeff;
  --platinum-2: #e2e2e4ff;
  --white: rgb(236, 236, 236);
}

:root {
  --mainFont: "Roboto", sans-serif;
  --headerFont: "League Spartan", sans-serif;
  --contentFont: "Open Sans", sans-serif;
}


.icon-cart {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.material-icons-outlined {
 padding: 0 10px;
}

.icon-cart .cart-count {
  display: flex;
  width: 25px;
  height: 25px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -2px;
}

.orderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.orderleft {
  margin: 7rem 0 0 2rem;
  width: 50%;

}

.orderleft h1 {
  font-size: 2.5rem;
  color: var(--gunmetal);
  font-family: var(--headerFont);
  padding: 1rem;
}

.orderleft p {
  font-family: var(--headerFont);
  font-size: 1.5rem;
  padding: 1rem;
}

.orderleft h4{
  font-family: var(--headerFont);
  font-size: 1rem;
  color: var(--indigo-dye);
  font-weight: 400;
  padding-bottom: 1rem;
}

.list-products {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.list-products .item {
  background-color: var(--white);
  margin: 1rem;
  padding: 2rem;
  border: var(--indigo-dye) 1px solid;
}

.list-products .item p {
  font-family: var(--contentFont);
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
}

.list-products .item button {
  display: flex;
  color: #19415aff;
  background-color: #e2e2e4ff;
  padding: 10px 16px;
  transition: all 0.3s ease;
  align-items: center;
  font-size: 14px;
  font-family: var(--contentFont);
  border: var(--indigo-dye) 3px solid;
  cursor: pointer;
  border-radius: 10px;
}

.list-products .item button:hover {
  background-color: var(--indigo-dye);
  color: var(--white);
  transition: all 0.3s ease;
}

.orderright{
  display: flex;
  width: 50%;
}

.orderright img{
  width: 300px;
  height: auto;
}

.orderright .kuva1 {
  position: absolute;
  top: 70%;
  left: 70%;
}

.orderright .kuva2 {
  position: absolute;
  top: 20%;
  left: 60%;
}

.cart-tab {
  width: 400px;
  background-color: var(--cadet-gray);
  color: #fff;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  z-index: 99;
}

.cart-tab h2 {
  padding: 2rem;
  text-align: center;
  font-weight: 500;
}

.cart-tab .btn{
  font-family: var(--headerFont);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  background-color: var(--platinum);
}

.cart-tab .btn :hover {
  font-size: 2rem;
  transition: all 0.3s ease;
}

.cart-tab .btn button {
  background-color: darkgray;
  border: none;
  cursor: pointer;
}

.cart-tab .btn button:hover {
  font-size: 2rem;
  transition: all 0.3s ease;
}

.cart-tab .btn a {
  margin: auto;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--gunmetal);
}

.cart-tab .btn .close {
  background-color: rgb(226, 159, 114);
  font-family: var(--headerFont);
  font-size: 1.5rem;
}


.cart-tab .list-cart .item{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  font-family: var(--headerFont);
  font-size: 20px;
  padding: 1rem;
  margin: 10px;
  color: var(--gunmetal);
  border-radius: 10px;
}

.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-cart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-cart .item:nth-child(odd){
  background-color: var(--platinum);
  color: var(--gunmetal);
}

.list-cart .item:nth-child(even){
  color: var(--white);
}

.list-cart{
  overflow: auto;
  margin-top: 2rem;
}
.list-cart::-webkit-scrollbar {
  width: 0;
}

body.show-cart .cart-tab{
  inset: 0 0 0 auto;
}

body.show-cart .container{
  transform: translate(-250px);
}

@media screen and (max-width: 768px) {
  .list-products {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-tab {
    width: 100%;
  }
  .cart-tab .list-cart .item{
    grid-template-columns: 1fr 1fr;
  }

}
