:root {
  --gunmetal: rgb(25, 46, 46);
  --indigo-dye: #19415aff;
  --dim-gray: #746b69ff;
  --cadet-gray: #85919cff;
  --caribbean-current: #3e666aff;
  --jasmine: #f5db6dff;
  --platinum: #d1dcdeff;
  --platinum-2: #e2e2e4ff;
  --white: #fefefeff;
}

:root {
  --mainFont: "Roboto", sans-serif;
  --headerFont: "League Spartan", sans-serif;
  --contentFont: "Open Sans", sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

.container{
  transition: transform .5s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header .icon-cart {
  position: relative;
  cursor: pointer;
}

header .icon-cart .cart-count {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}


.list-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.list-products .item {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;

}

.list-products .item button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.cart-tab {
  width: 400px;
  background-color:cadetblue;
  color: #fff;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}

.cart-tab h2 {
  padding: 20px;
  text-align: center;
}

.cart-tab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart-tab .btn button {
  background-color: darkgray;
  border: none;
  cursor: pointer;
}

.cart-tab .btn .close {
  background-color: sandybrown;
}

.cart-tab .list-cart .item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-cart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.list-cart .item:nth-child(even){
  background-color:aqua;
}

.list-cart{
  overflow: auto;
}
.list-cart::-webkit-scrollbar {
  width: 0;
}

body.show-cart .cart-tab{
  inset: 0 0 0 auto;
}

body.show-cart .container{
  transform: translate(-250px);
}

@media screen and (max-width: 768px) {
  .list-products {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-tab {
    width: 100%;
  }
  .cart-tab .list-cart .item{
    grid-template-columns: 1fr 1fr;
  }

}
